.popup__container {
    width: calc(282px + (430 - 282) * ((100vw - 320px) / (1280 - 320)));
    max-width: 430px;
    min-height: 330px;;
    background: #fff;
    border-radius: 10px;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    margin: 0;
    box-sizing: border-box;
}
