.header__logo {
    margin: 0;
    padding: 0;
    object-fit: contain;
    object-position: center;
    width: calc(104px + (142 - 104) * ((100vw - 320px) / (1280 - 320)));
}

@media only screen and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}
